div {
  baz: #{1/2}/3;
  baz: #{1/  2}/  3;
  baz: #{1  /2}  /3;
  baz: #{1  /  2}  /  3;
}

add {
  baz: #{1+2}+3;
  baz: #{1+  2}+  3;
  baz: #{1  +2}  +3;
  baz: #{1  +  2}  +  3;
}

sub {
  baz: #{1-2}-3;
  baz: #{1-  2}-  3;
  baz: #{1  -2}  -3;
  baz: #{1  -  2}  -  3;
}

mul {
  baz: #{1*2}*3;
  baz: #{1*  2}*  3;
  baz: #{1  *2}  *3;
  baz: #{1  *  2}  *  3;
}

mod {
  baz: #{1%2}%3;
  baz: #{1%  2}%  3;
  baz: #{1  %2}  %3;
  baz: #{1  %  2}  %  3;
}